html {
    -webkit-font-smoothing: antialiased;
    font-family: "SF Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: calc(100% + env(safe-area-inset-top));
}

body {
    margin: 0;
    padding: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 100vw;
    background: linear-gradient(25deg, #453396 0%, #90afff 100%);
}

.player-container {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    z-index: 1;
    background-color: rgba(230, 230, 255, .18);
    backdrop-filter: blur(30px);
}

.music-art {
    cursor: pointer;
    margin-top: calc(20% + env(safe-area-inset-top));
    width: 80vw;
    height: 80vw;
    border-radius: 5px;
    background-color: rgba(250, 250, 250, .1);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .45);
    transition: .4s;
}

.music-art-img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    user-select: none;
    -webkit-user-select: none;
}

.player-area-container {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}

.player-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 80vw;
}

.sidebar {
    width: 100vw;
    color: #fff;
}

.music-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    margin-top: 14px;
    width: 100%;
    height: auto;
    color: #fff;
    /* background-color: #551431; */
    text-align: center;
}

.music-title {
    width: 100%;
    font-size: 24px;
    transition: .3s;
    text-shadow: 0 0 2px rgba(0, 0, 0, .3);
    word-wrap: break-word;
}

.music-artist {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 18px;
    color: rgba(255, 255, 255, .74);
    text-shadow: 0 0 1px rgba(0, 0, 0, .3);
    transition: .3s;
}

.music-res {
    padding-bottom: 2px;
    font-size: 13px;
    height: 13px;
    width: 100%;
    text-align: center;
    transition: .4s;
    font-weight: 300;
    color: rgba(255, 255, 255, .5);
}

.music-controls {
    width: 100%;
    height: 20%;
}

.music-controls-icon-container {
    display: flex;
    gap: 18px;
    margin-top: 18px;
    justify-content: center;
    align-items: center;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.music-controls-icon {
    filter: invert(95%) sepia(18%) saturate(0%) hue-rotate(53deg) brightness(103%) contrast(101%) opacity(.55);
    cursor: pointer;
    width: 46px;
    height: 46px;
}

#play-icon {
    width: 74px;
    height: 74px;
    cursor: pointer;
}

.music-controls-icon img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: drop-shadow( 0 0 1px rgba(255, 255, 255, .3));
    transition: .4s;
}

.music-controls-icon img:hover {
    filter: drop-shadow( 0 0 3px rgba(255, 255, 255, .5));
}

.progress-container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18px;
}

.progress {
    border-radius: 10px;
    width: 96%;
    min-height: 5px;
    height: 5px;
    background-color: rgba(220, 220, 220, .5);
}

.progress-indicators-container {
    display: flex;
    width: 96%;
    height: 18px;
    font-size: 18px;
    user-select: none;
    -webkit-user-select: none;
    color: rgba(255, 255, 255, .8);
}

.progress-now {
    width: 13%;
    height: 100%;
    text-align: left;
    color: rgba(255, 255, 255, .7);
}

.seperator-div {
    display: flex;
    justify-content: center;
    width: 74%;
    height: 100%;
}

.progress-duration {
    width: 13%;
    color: rgba(255, 255, 255, .7);
    text-align: right;
    height: 100%;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    border-radius: inherit;
}

.music-controls-divs {
    display: none;
    color: rgba(255, 255, 255, .8);
    padding: 4px;
    border-radius: 5px;
    justify-content: center;
    transition: .15s;
}

.music-controls-divs-imgs {
    filter: invert(95%) sepia(18%) saturate(0%) hue-rotate(53deg) brightness(103%) contrast(101%) opacity(.45);
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.active-div {
    background-color: rgba(248, 248, 248, .2);
}

.active-div img {
    filter: invert(100%) sepia(18%) saturate(0%) hue-rotate(53deg) brightness(103%) contrast(101%) opacity(1);
}

.music-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100vw;
    height: 100%;
}

.music-list {
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
}

.tracks {
    display: flex;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(220, 220, 220, .22);
    backdrop-filter: blur(16px);
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    height: 80px;
    align-items: center;
    gap: 15px;
    user-select: none;
    -webkit-user-select: none;
    transition: .3s;
}

.active-track {
    background-color: rgba(0, 0, 255, 0.22);
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
    backdrop-filter: blur(12px);
}

.track-info {
    height: calc(100% - 20px);
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
}

.track-info-container {
    display: flex;
    width: 100%;
}

.track-title-container {
    width: inherit;
}

.track-artist, .track-title {
    overflow-x: scroll;
}

.track-title::-webkit-scrollbar, .track-artist::-webkit-scrollbar {
    display: none;
}

.music-list::-webkit-scrollbar {
    display: none;
}

.tracks {
    margin-top: 10px;
}

.track-title-span, .track-artist-span {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.track-title-span {
    font-weight: 500;
    font-size: 26px;
}

.track-artist-span {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.track-thumbnail {
    padding-left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.track-thumbnail-img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
}
